<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, intial-scale=1, shrink-to-fit=no"/>
        <title>Demo Spring MVC</title>
        <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/webjars/font-awesome/5.15.1/css/all.min.css"/>
    </head>
    <body>
        <div th:fragment="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                <a class="navbar-brand">Spring-Boot</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Product</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/categories">Category</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Create
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/product/add">Create Product</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/categories/add">Create Category</a>
                      </div>
                    </li>
                  </ul>
                  <span th:if=${session.CURRENT_USER}>
                    <a class="btn btn-danger" th:href="@{/users/logout}"><i class="fas fa-sign-out-alt"></i> <span th:text="${session.CURRENT_USER}"></span></a>
                </span>
                </div>
              </nav>
            </div>
        <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/4.5.3/bootstrap.min.js"></script>
    </div>
    </body>
</html>